<head>
  <link href="/chat.css" rel="stylesheet" type="text/css">
  <script src="/socket.io/socket.io.js"></script>
  
</head>
<body>
  <div id="header">
    <a href="/">Main Page</a>
    </div>
  <div class="content">
<div id="left">
  <h1>Users Online</h1>
  <div id="users">
  </div>
</div>
  <div id="center">
  <ul id="messages"></ul>
  <form action="">
    <input type="text" id="send-input">
    <input type="submit" id="send-message" value="Send">
  </form>
  </div>
</div>
</body>
<script src="/chat.js" ></script>