<script src="/socket.io/socket.io.js"></script>
<p>Price: </p><p id="Price"></p><br>
<p>Current Price: </p><p id="CurrentPrice"></p><br>
<p>Last person </p><p id="LastPerson"></p><br>
<input type="button" id="bid" value="Bid">
<script src="/gamble.js" ></script>