<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/index.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <title>Welcome Page</title>
    </head>
    <body>
        <% if( user != undefined || user != null) {%>
            <div class="content">
                <h1>Welcome <%= fullusername %> !</h1>
                <a id="chat" href="/chat">Chat</a>
                <div class="dropdown">
                <a id="user-ico"><%= user %></a>
                <span class="drop-content">
                    <a href="/dashboard">settings</a>
                    <a id="logout" href="/t/logout">Logout</a>
                </span>
                </div>
            </div>
        <% } else { %>
            <div class="content-login">
                <h1>Welcome!</h1>
                <a href="/t/login"><input type="button" value="Login"></a>
            </div>
        <% } %>
        <script>
            let user = document.getElementById('user-ico');
            

        </script>
</body>
</html>