* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
}
html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.content {
  width: 100%;
  height: 100%;
}
/* #region TopBar*/
.Top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}
.Top h1 {
  padding: 7px;
  font-size: 20px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: flex;

}
#user-ico {
  display: flex;
  width: 50px;
  height: 25px;
  color: white;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
#user-ico:visited,
#user-ico:link {
  color: white;
  text-decoration: none;
}
#user-ico:hover {
  filter: brightness(0.5);
}

.dropdown {
  position: relative;

}
.dropdown > a:hover {
  cursor: pointer;
}
.drop-content {
  display: none;
  position: absolute;
  background-color: gray;
  color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.dropdown:hover .drop-content {
  display: block;
}
.drop-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#logout {
  color: red;
  filter: brightness(0.8);
}
#logout:hover {
  filter: brightness(0.5);
}
.drop-content a:hover {
  background-color: #ddd;
}
/* #endregion */

/* #region Center Section */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: white;
}
#NewsBox {
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px;
  overflow-wrap: break-word;
  margin: 6px;
  max-width: 250px;
  max-height: 150px;
}
#NewsBox::-webkit-scrollbar {
  display: none;
}
#NewsBox-header {
  font-size: 18px;
}
#NewsBox-content {
  line-break: loose;
  font-size: 12px;
}
/* #endregion */

/* #region Welcome Page*/
.content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.content-login h1 {
  padding: 0;
  font-size: 36px;
  text-align: center;
  color: white;
}
.content-login a {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: white;
}
a:visited,
a:link {
  color: white;
  text-decoration: none;
}
input[type="button"] {
  width: 70px;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
/* #endregion */